.info {
    font-size: 30px;
    text-align: center;
}

.container {
    padding: 20px 60px;
    margin-top: 50px;
}

.analyze-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.analyze-form .mat-raised-button {
    margin-top: 10px;
}

.sentiment {
    font-size: 52px;
}

.sentiment:last-child {
    margin-left: 10px;
}

.positive,
.positive-percent {
    color: green;
}

.sentiment::after {
    content: '%';
}

.positive-percent::before {
    content: 'Положительных: '
}

.negative-percent::before {
    content: 'Отрицательных: '
}

.negative,
.negative-percent {
    color: red;
}

.extended-info__card:first-child {
    margin-top: 40px;
}

.extended-info__card + .extended-info__card {
    margin-top: 15px;
}

.reset__button,
.info-more__button {
    display: inline-block;
}

.reset__button {
    margin-right: 20px;
}

.action-btn-container {
    text-align: center;
    margin-top: 40px;
}

.control-wrapper {
    text-align: left;
}

.count-select,
.analyze-action-btn {
    display: inline-block;
}