<h1 class="title">Вход</h1>
<form novalidate class="login-form" name="form" #f="ngForm" (ngSubmit)="f.form.valid && signin()">
  <mat-form-field class="full-width">
    <input [disabled]="loading" matInput placeholder="Имя пользователя" name="username" [(ngModel)]="model.username" #username="ngModel" required>
    <mat-error *ngIf="f.submitted && !username.valid">
      Поле не может быть пустым
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input [disabled]="loading" matInput placeholder="Пароль" name="password" [(ngModel)]="model.password" #password="ngModel" required>
    <mat-error *ngIf="f.submitted && !password.valid">
      Поле не может быть пустым
    </mat-error>
  </mat-form-field>
    <mat-progress-spinner [diameter]="60" class="inline-loader" *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <button [disabled]="loading" color="primary" mat-raised-button>Войти</button>
</form>