.sentence-input {
    margin: 0 auto;
    text-align: center;
}

.affleck {
    margin: 0 auto;
}

.affleck img {
    height: 280px;
    margin: 0 auto;
}

.success {
    color: green;
}

.negative {
    color: red;
}

.show {
    display: block;
}

.hide {
    display: none;
}
